{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<div class="container mt-3">

    <div class="page-content container note-has-grid">
        <div class="tab-content bg-transparent">
            <div id="note-full-container" class="note-has-grid row">
                {% for note in notes %}
                <div class="col-md-4 single-note-item all-category" style="">
                    <a href="{% url 'notes:notes-detail' note.id %}" class="text-decoration-none">
                        <div class="card card-body ">
                        <span class="side-stick"></span>
                        <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="{{note.title}}">
                            {{note.title}}</h5>
                        <p class="note-date font-12 text-muted">{{note.updated_at}}</p>
                        <div class="note-content">
                            <p class="note-inner-content text-muted"
                               data-notecontent="{{note.content}}">
                                {{note.content}}</p><span></span>
                        </div>
                        <div class="tags pt-2">
                            {% for tag in note.tags.all %}
                            <span class="badge badge-pill bg-info">{{tag.name}}</span>
                            {% endfor %}
                        </div>

                        <div class="d-flex align-items-center pt-3">
                            <a href="{% url 'notes:notes-delete' note.id %}"><span class="mr-1"><i class="fa fa-trash remove-note"></i></span></a>

                        </div>
                    </div>
                        </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/taginput.js' %}"></script>
{% endblock %}

